@{
    ViewBag.Title = "bao_cao_01";
    Layout = "~/Views/_LayoutCRM.cshtml";
}

<div class="title">
				<h3>BÁO CÁO 01</h3>
			</div>
			<div class="content">
				<div class="data">
					<h5 class="title">THỐNG KÊ SỐ LƯỢNG KHÁCH HÀNG THEO LEVEL</h5>
					<table class="table table-condensed table-font-size">
						<tr style="font-weight:bold">
							<td></td>
							<td>L1</td>
							<td>L2</td>
							<td>L3</td>
							<td>L4</td>
							<td>L5</td>
							<td>L6</td>
							<td>L7</td>
							<td>L8</td>
							<td>L9</td>
							<td>L999</td>
						</tr>
						<tr>
							<td>Lũy kế (từ ngày 1/1/2014)</td>
							<td id="l1">45</td>
							<td id="l2">40</td>
							<td id="l3">27</td>
							<td id="l4">25</td>
							<td id="l5">25</td>
							<td id="l6">16</td>
							<td id="l7">12</td>
							<td id="l8">9</td>
							<td id="l9">7</td>
							<td id="l999">5</td>
						</tr>
						<tr>
							<td>Phát sinh trong tháng</td>
							<td id="l1">10</td>
							<td id="l2">9</td>
							<td id="l3">8</td>
							<td id="l4">6</td>
							<td id="l5">5</td>
							<td id="l6">4</td>
							<td id="l7">4</td>
							<td id="l8">4</td>
							<td id="l9">2</td>
							<td id="l999">1</td>
						</tr>
					</table>
					
					<h5 class="title">MỘT SỐ TỈ LỆ QUAN TRỌNG (%)</h5>
					
					<table class="table table-condensed table-font-size">
						<tr style="font-weight:bold">
							<td>L999/L9</td>
							<td>L999/L8</td>
							<td>L9/L8</td>
							<td>L8/L5</td>
							<td>L8/L4</td>
						</tr>
						<tr>
							<td id="L999_L9">45</td>
							<td id="L999_L8">40</td>
							<td id="L9_L8">27</td>
							<td id="L8_L5">25</td>
							<td id="L8_L4">25</td>
						</tr>
					</table>
				</div>
			</div>
