@{
    ViewBag.Title = "taiKhoanCaNhan";
    Layout = "~/Views/_LayoutCRM.cshtml";
}
<form >
  <fieldset>
      <legend><span style="color:#3795D2">Tài Khoản Cá Nhân</span></legend>

      <div id="anh">
        <div id="anh_dai_dien"><img src="..." class="img-rounded"></div>
        <div id="nut_chon"><button class="btn btn-info" type="button">Chọn</button></div> 
      </div>

      <div id="tieu_de_1">
          <div class="tieude">Họ và tên:</div>
          <div class="tieude">Ngày sinh:</div>
          <div class="tieude">Giới tính:</div>
          <div class="tieude">SĐT:</div>
          <div class="tieude">Email:</div>
      </div>
      
      <div id="noidung1">
        <div class="nd"><input type="text" placeholder="Họ và tên"></div>
        <div class="nd"><input type="text" placeholder="Ngày/Tháng/Năm"></div>
        <div class="nd"><input type="text" placeholder="Giới tính"></div>
        <div class="nd"><input type="text" placeholder="Số điện thoại"></div>
        <div class="nd"><input type="text" placeholder="Email"></div>
      </div>

      <div id="tieu_de_2">
          <div class="tieude">Địa chỉ:</div>
          <div class="tieude" style="margin-top:50px;">Ghi chú:</div>
      </div>

      <div id="noidung2">
        <div class="nd"><input type="text" placeholder="Địa chỉ"></div>
        <div id="ghichu"><textarea style="height:140px;"></textarea></div>
        </div>
  </fieldset>
    <div id="button"><button class="btn btn-primary node" type="button">Cập nhật thông tin</button></div>
</form>

