@{
    ViewBag.Title = "importExcel";
    Layout = "~/Views/_LayoutCRM.cshtml";
}
<script src="~/Scripts/OpenXMLExcelAppScript.js"></script>
@using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    <div style="margin: 10px">
        <p>
            <button type="button" id="btnSubmit">Submit</button>
            <input type="file" name="excelFile"/>
        </p>
    </div>
}
